<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="bg-light">
    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-white text-dark border border-dark">
      <h1><%= wiki.title %></h1>
      <hr/>

        <%# if(currentUser.isAdmin()) { %>

          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning text-white"><i class="material-icons">assignment</i>Edit</a>

        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger text-white"><i class="material-icons">delete</i>Delete</button>
        </form>

        <%# } %>
      <hr/>

      <p><%= wiki.body %></p>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
