<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container p-3 mb-2 bg-light text-dark border border-dark">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>

      <hr/>

      <%# if(currentUser && currentUser.isAdmin()) { %>
         <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <%# } %>

      <hr/>

      <ul class="list-group">
<!-- #1 -->
        <% wikis.forEach((wiki) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> <%#= wiki.userId.username %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
