<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

        <h1>Collaborators</h1>

        <% if(collaborators.length !== 0) { %>
          <p>
          <ul class ="list-group">
            <% collaborators.forEach((collaborators) => {  %>
                <li class="list-group-item">
                      <a href="/wikis/<%= collaborators.Wiki.id %>"><%= collaborators.Wiki.title %></a>
               </li>
            <% }) %>
          </ul>
        </p>
        <% } else { %>
            <p class="lead">No collaborations found</p>
        <% } %>

    </main>

  </body>
</html>
