<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stripe.css">
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-dark text-white">

      <% include ../static/partials/messages.ejs %>

 <!-- #1 -->
      <h1><%= `Edit ${user.username}'s Profile` %></h1>

      <hr>





    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
