<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-dark text-white">

      <% include ../static/partials/messages.ejs %>

 <!-- #1 -->
      <h1><%= `${user.username}'s profile` %></h1>

      <% if(currentUser.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit" class="btn btn-warning">Edit Profile</a>
      <% } %>
      <hr>

      <h2> Latest Wikis</h2>

      <ul class="list-unstyled">

 <!-- #2 -->
        <% if(wikis) { %>
          <% wikis.forEach((wiki) => { %>
 <!-- #3 -->
            <li>
              <a href="/wikis/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
