<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-dark text-white">

      <% include ../static/partials/messages.ejs %>

      <h1>Sign Up</h1>

      <form action="/users" method="POST">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="nameHelp" placeholder="Enter name">

        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="text-muted" id="emailHelp">email address must be a valid address</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small class="text-muted" id="passwordHelp">must be at least 6 characters in length</small>
        </div>

        <div class="form-group">
          <label for="passwordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Enter password confirmation">
          <small class="text-muted" id="passwordHelp">passwords must match</small>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
