<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stripe.css">
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="bg-light">

    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-white text-dark border border-dark">

      <% include ../static/partials/messages.ejs %>

 <!-- #1 -->
      <h1><%= `${user.username}'s Account` %></h1>

      <hr>

      <h2>Update Your Account to Premium Today &#128513;</h2>




    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
